:root {
    --vk-primary-color: #44195e;
    --vk-secondary-color: #aad1f1;
    --vk-tertiary-color: #8faebf;
    --vk-highlight-color: #f9d877;

    --vk-nav-toggler-color: var(--vk-highlight-color);
    --vk-nav-toggler-glow: rgba(250, 225, 120, .55);

    --vk-dark-color: #0f2029;
    --vk-light-color: #d2e8f8;

    --vk-background-color: #e7f2f7;



    --vk-font-size: 1.2rem;
    --vk-font-weight: 400;
    --vk-line-height: 1.5rem;
    --vk-code-color: #ddc271;
}

/*START Sticky Footer */
html,
body {
    height: 100%;

}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--vk-dark-color);
    font-family: 'Encode Sans Condensed', sans-serif;
}

code {
    color: var(--vk-code-color);
}

main {
    flex: 1 0 auto;

    background-color: var(--vk-tertiary-color);
}

footer {
    flex-shrink: 0;
}

/*END Sticky Footer */

/*START: Navbar Overrides  */

.navbar-brand {
    color: var(--vk-dark-color);
}

#mainNav {
    background: var(--vk-secondary-color);
    font-weight: 600;
    color: var(--vk-dark-color) !important;
    border-bottom: 2px solid #0f2029;
    font-family: 'Encoda Sans Condensed', sans-serif;
}

#mainNav button {
    border-color: var(--vk-dark-color);
    border-width: 2px;

}

.navbar-toggler {
    color: var(--vk-nav-toggler-glow)
}

.navbar-toggler-icon-vk {
    color: var(--vk-dark-color);
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5rem;
}

.listStyling {
    color: var(--vk-highlight-color);
}

/*END: Navbar Overrides  */

/*START:Footer Styling */

footer {
    background-color: var(--vk-secondary-color);
    border-top: 2px solid #0f2029;
}

.footer-Text {
    color: var(--vk-dark-color);
    font-size: 1.2rem;
}

.socialIcons {
    color: var(--vk-dark-color);
    font-size: 1.5rem;
}

.socialIcons:hover {
    color: var(--vk-highlight-color);
}

/*END:Footer Styling */


/*START: App-logo Styling */

.appLogo {
    max-width: 400px;
}

/*START: App-logo Styling */

/*START CheckList */
.checkList {
    list-style-type: none;
}

.checkList>li i {
    color: var(--vk-dark-color);
    padding-right: .5rem;
}

/*END: Checklist  */


.devIcons {
    font-size: 4rem;
    padding-left: .5rem;
}

td {
    background-color: var(--vk-secondary-color) !important;
}

/*START: Yo-Ho Styling */
.yo {
    background-color: var(--vk-background-color) !important;
}

.ho {
    background-color: var(--vk-light-color) !important;
}

.yoHo {
    background-color: var(--vk-primary-color) !important;
    color: var(--vk-highlight-color) !important;
}

/*END: Yo-Ho Styling */

/* Button Styling */
.btn-primary {
    background-color: var(--vk-secondary-color) !important;
    border-color: var(--vk-highlight-color);
    color: white !important;
}

.btn-primary:hover {
    filter: brightness(1.1) !important;
    border-color: var(--vk-highlight-color);
    border-width: 2px;
}

.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    /*Active- pressed, visited-visited in the past, focus- focused on with tab. */
    filter: brightness(1.1) !important;
    border-color: var(--vk-highlight-color);
}